    header {
        background-color: #333;
        color: #fff;
        padding: 1em;
        text-align: center;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        background: #333;
    }

    nav ul li {
        display: inline-block; /* Pour aligner les éléments du menu principal horizontalement */
        position: relative; /* Nécessaire pour positionner correctement les sous-menus */
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        padding: 12px;
        display: block; /* Assure que les liens prennent toute la largeur de l'élément li */
    }

    .carousel-item img {
        height: 500px;
    }

    /* Styles pour le sous-menu spécifique qui doit s'ouvrir verticalement */
    .dropdown-content {
        display: none; /* Cache le sous-menu par défaut */
        position: absolute; /* Positionnement absolue par rapport à son parent */
        background-color: #f9f9f9; /* Fond clair pour les sous-menus */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 100; /* Assure que le menu s'affiche au-dessus des autres contenus */
        min-width: 200px; /* Largeur minimum du sous-menu */
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block; /* Les liens prennent toute la largeur du sous-menu */
        text-align: left; /* Alignement du texte à gauche */
    }

    /* Effet de survol pour les liens dans le sous-menu */
    .dropdown-content a:hover {
        background-color: #333; /* Couleur de fond lors du survol */
        color: #fff; /* Couleur du texte lors du survol */
    }

    .dropdown:hover .dropdown-content {
        display: block; /* Affiche le sous-menu lorsque le parent est survolé */
    }

    .dropdown:hover > a {
        background-color: #333; /* Changement de couleur pour l'élément survolé */
        color: #fff;
    }


    .list-group {
        width: 200px; /* Définir la largeur du tableau selon vos besoins */
    }

    .property-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1em; /* Espace entre les éléments */
        justify-content: left; /* Centre les éléments horizontalement */
    }

    .property {
        border: 1px solid #fff;
        margin: 10px;
        text-align: center;
        width: calc(33.333% - 2em); /* Ajustez la largeur selon vos besoins (3 éléments par ligne ici) */
        box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
    }

    .property img {
        width: 400px; /* L'image prendra toute la largeur du parent */
        height: 250px;
        display: block;
        margin: 0 auto 10px; /* Espace sous l'image */
    }

    .property a {
        display: inline-block;
        padding: 10px 15px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 10px;
    }

    .property a:hover {
        background-color: #555;
        color: black;
    }

    .property h3, .property p {
            margin: 0.5em 0;
    }


    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    main {
        padding: 2em;
    }

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 1em;
    }

